.main {
  text-align: center;
 
}
.picture {
  max-width: 90%;
  max-height: 90vh;
}
.merryXmas {
 line-height: 70vh;
 font-family: 'Mountains of Christmas', cursive;
 font-size: 2rem;
 color: green;

}
button {
  border-radius: 6px;
  background-color: red;
  color: white;
}